{# vim: set syntax=jinja: #}
{% extends "layout.html" %}
{% block title %}Edit {{ site.title }}{% endblock %}
{% block body %}
    <form method="POST" action="{{ url_for('.edit', subdomain=site.subdomain) }}">
        {{ form.hidden_tag() }}

{% macro with_errors(field) %}
        <tr>
            <th>{{ field.label }}</th>
            <td>{{ field }}
                {% for error in field.errors %}
                <br>{{ error|e }}
                {% endfor %}
            </td>
        </tr>
{% endmacro %}

    <table>
        {{ with_errors(form.subdomain) }}
        {{ with_errors(form.title) }}
        {{ with_errors(form.arrival_local) }}
        {{ with_errors(form.arrival_zone) }}
        {{ with_errors(form.no_image) }}
        {{ with_errors(form.no_answer) }}
        {{ with_errors(form.yes_template) }}
        {{ with_errors(form.yes_answer) }}
        {{ with_errors(form.favicon_name) }}
        {{ with_errors(form.fireworks) }}
    </table>

        <input type="submit" value="Go">
    </form>
{% endblock %}
