{# vim: set syntax=jinja: #}
{% extends "layout.html" %}
{% block title %}{{ config['SERVER_NAME'] }}{% endblock %}
{% block body %}
    <h1>{{ config['SERVER_NAME'] }}</h1>

    <p>Mechanically reclaimed bespoke countdown URLs, made with equal parts joy
    and rage in Cambridge and London, UK.</p>

    <section class='site-list'>
{% for site in sites -%}
      <figure>
        <a href="{{ url_for('root', subdomain=site.subdomain) }}">
          {% if site.no_image %}
          <img src="{{ site.no_image_url }}" class='img-nope' />
          {% endif %}
          <figcaption>{{ site.title }}</figcaption>
        </a>
      </figure>
{%- endfor %}
      <figure>
        <a href="{{ url_for('new') }}">
          <img src="{{ url_for('static', filename='img/plus.png') }}" class='img-nope' />
          <figcaption>New…</figcaption>
        </a>
      </figure>
    </section>

{% endblock %}
