{# vim: set syntax=jinja: #}
{% extends "yes.html" %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
    {{ super() }}
    {% if baby %}
    <p>
        <span class='madlib'>{{ baby.name }}</span> was born on
        <span class='madlib'>{{ arrival.strftime('%A %d %B %Y') }}</span> at
        <span class='madlib'>{{ arrival.strftime('%l:%M %p') }}</span>,
        weighing <span class='madlib'>{{ baby.weight }}</span>!
        {% if baby.announcement_url %}
        (<a href='{{ baby.announcement_url }}'>announcement</a>)
        {% endif %}
    </p>
    {% endif %}
{% endblock %}
