{# vim: set syntax=jinja: #}
{% extends "layout.html" %}
{% block title %}here.yt{% endblock %}
{% block body %}
    <h1>here.yt</h1>

    <p>Mechanically reclaimed bespoke countdown URLs, made with equal parts joy
    and rage in Cambridge, UK.</p>

    <section class='site-list'>
{% for site in sites -%}
      <figure>
        <a href="{{ url_for('root', subdomain=site.subdomain) }}">
          {% if site.no_image %}
          <img src="{{ url_for('img', subdomain=site.subdomain, filename=site.no_image) }}" class='img-nope' />
          {% endif %}
          <figcaption>{{ site.title }}</figcaption>
        </a>
      </figure>
{%- endfor %}
    </section>

{% endblock %}
