{# vim: set syntax=jinja: #}
{% extends "layout.html" %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
    <h1>{{ answer|default('Yes!!!', true) }}</h1>
    <img src="{{ haircut }}" class='img-nope' />
    <p>
        <span class='madlib'>{{ deets.name }}</span> was born on
        <span class='madlib'>{{ arrival.strftime('%A %d %B %Y') }}</span> at
        <span class='madlib'>{{ arrival.strftime('%l:%M %p') }}</span>,
        weighing <span class='madlib'>{{ deets.weight }}</span>!
        {% if deets.announcement_url %}
        (<a href='{{ deets.announcement_url }}'>announcement</a>)
        {% endif %}
    </p>
{% endblock %}
