{% extends "layout.html" %}
{% block title %}{{ title }}{% endblock %}
{% block bodyclass %}{% if fireworks %}fireworks{% endif %}{% endblock %}
{% block body %}
    <h1>Yes!!!</h1>
    <div id="puggrid">
      {% set puggy = cycler(*pugs) %}
      <img src="{{ puggy.next() }}" class=pug alt='pug' />
      <img src="{{ puggy.next() }}" class=pug alt='pug' />
      <img src="{{ puggy.next() }}" class=pug alt='pug' />
      <img src="{{ puggy.next() }}" class=pug alt='pug' />
      <img src="{{ haircut }}" class=haircut />
      <img src="{{ puggy.next() }}" class=pug alt='pug' />
      <img src="{{ puggy.next() }}" class=pug alt='pug' />
      <img src="{{ puggy.next() }}" class=pug alt='pug' />
      <img src="{{ puggy.next() }}" class=pug alt='pug' />
    </div>
{% if fireworks %}
<script type="text/javascript" src="{{ url_for('static', filename='libs/fireworks.js') }}"></script>
<script>
Fireworks();
</script>
{% endif %}
{% endblock %}
